<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Jill Lilly - Legal Assistant, Mr. Kobiljak &amp; Mr. Hurley</h1>
			
			<p>Jill Lilly joined the firm in August of 1996. Prior to 1996, she worked as a legal assistant to the Honorable Kathleen M. McCarthy, Wayne County Circuit Court Judge. A resident of Downriver, Ms. Lilly has over 30 years of legal experience and extensive knowledge in many areas of law, including, complex civil litigation at all court levels, collections, corporate, starting a business, including the preparation of 501(c)(3) applications, and prosecution matters as well as trust and estate planning documents. Ms. Lilly serves as one of Mr. Pentiuk’s legal assistant as well as a legal assistant to Michael P. Hurley, associate. In her capacity, she is up to date on the status of each file daily and is available to provide assistance to clients when called upon. Ms. Lilly attended Detroit Business Institute where she graduated with a legal certificate degree and continues to attend legal seminars to further her education.</p>

		</div>
	</div>
</div>