<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Keith Lenard - Legal Clerk</h1>
			
			<ul>
				<li class="headline">Areas Of Practice</li>
			</ul>
			
			<span class="email">Email: klenard@pck-law.com</span>

			<number>Phone: (734) 281-7100 ext. 101</number>

			COLLEGE

			University of Michigan-Dearborn pursuing a B.A. Political Science & Criminal Justice | History & Philosophy Minors
			
			<p>Since September of 2008, Keith Lenard has been a legal clerk at Pentiuk Couvreur &amp; Kobiljak, P.C. Keith handles archiving files, assisting the legal assistants with court filings and conducting a variety of research for the firm. Keith was working as an intern at a law firm in Detroit prior to joining the PCK staff.</p>

			<p>Mr. Lenard is currently enrolled at The University of Michigan-Dearborn pursuing a B.A. in Political Science and Criminal Justice, with minors in History and Philosophy. Keith is a founding member of Phi Sigma Phi National Fraternity Epsilon Lambda Chapter; a current member of the Inter-varsity Christian Fellowship and a former vice president of the Greek Leadership Counsel. He was also a board member of the Political Science Club.</p>

			<p>Keith enjoys contributing his spare time to a variety of local charities, including mentoring at the Detroit Behavioral Institute, participating in the Detroit Polar Plunge for Special Olympics, the Detroit Zoo Walk for Alzheimer's, and other community services. During his years at UM-D he has been awarded the Fraternity Man of the Year in 2009, the Greek Leadership Council Involvement Award 2009, the Leadership Synergy Award 2009 and Mr. UMD 2008.</p>

			<p>After completing his undergraduate degree in April of 2010, Keith plans on attending law school and becoming an attorney with an interest in political office.</p>
		</div>
	</div>
</div>