<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Patricia Bartow - Legal Assistant, Primary Mr. Pentiuk’s </h1>
			
			<ul>
				<li class="headline">Areas Of Practice</li>
				<li>Municipalities</li>
				<li>Housing Cooperatives</li>
				<li>Condominiums</li>
				<li>Complex Litigations</li>
				<li>Collections</li>
				<li>Estate Planning</li>
				<li>Probate &amp; Small Business, Corporation</li>
			</ul>
			
			<span class="email">Email: pbartow@pck-law.com</span>

			<number>Phone: (734) 281-7100 ext. 114</number>

				LEGAL PROFESSIONAL

				15+ Years of Work Experience
			
			<p>Patricia Bartow joined Pentiuk, Couvreur and Kobiljak in 1999 and works as Mr. Pentiuk’s primary legal assistant. Ms. Bartow has been working in the legal profession for fifteen years and has experience and vast knowledge of municipalities, housing cooperatives, condominiums, complex litigation, collections, estate planning, probate and small business/corporation set up as well. Ms. Bartow maintains an excellent rapport with clients and is always available on a daily basis to provide prompt and reliable assistance.</p>
		</div>
	</div>
</div>