<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Civil Litigation, Trials &amp; Appeals</h1>
			
			<p>The litigation attorneys of Pentiuk, Couvreur & Kobiljak, P.C. are experienced trial and appeal lawyers that represent both plaintiffs and defendants in a wide range of cases. The types of cases are vast: throughout the practice areas of this website, we have described some of them From landlord-tenant eviction cases to constitutional challenges of the most complex nature, we are zealous advocates for our clients, which include:</p>
			
			<ul>
				<li>Cities, townships, counties and other governmental entities</li>
				<li>Corporations and other business entities such as limited liability companies, partnerships, professional, corporations, nonprofits, churches and ministries</li>
				<li>Housing Cooperatives</li>
				<li>Credit unions and banks</li>
				<li>Condominium Associations</li>
				<li>Doctors, dentists and other health professionals</li>
				<li>Individuals and families</li>
			</ul>
			
			<p>We regularly appear for our clients in the district and circuit courts of Wayne, Oakland, Macomb, Monroe and other Michigan counties. We handle appeals before the Michigan Court of Appeals and the Michigan Supreme Court. Our litigators also represent clients before Michigan administrative agencies, such as the Michigan Tax Tribunal, the Michigan Department of Civil Rights, and the Michigan State Tax Commission.</p>

			<p>On the federal level, we handle matters in all of the U.S. District Courts and Bankruptcy Courts within Michigan. At the appellate level, we appear before the Sixth Circuit Court of Appeals and the United States Supreme Court. We also represent clients before federal agencies such as the Equal Employment Opportunity Commission, the U.S. Department of Housing &amp; Urban Development (HUD), the Federal Communications Commission (FCC), and the Surface Transportation Board of the U.S. Department of Transportation.</p>

			<p>With the recent emphasis on alternative dispute resolution, our trial lawyers are experienced in handling cases before the American Arbitration Association, the Federal Mediation and Conciliation Service, and private arbitrator programs such as the Christian Conciliation Service. We are experienced in programs instituted by the 36th District Court, Macomb Circuit Court and Oakland Circuit Court, as well as that of the Michigan Court of Appeals.</p>

			<p>By using advanced computer technology, our litigators access the entire body of case law, and other resources to effectively advocate for our clients. Through the use of our brief and pleadings banks of documents, we are able to efficiently conduct discovery and motion practice. Trial preparation is made less costly through using our computer programs. All of these resources add up to major advantages to our clients, and help achieve great results.</p>
		</div>
	</div>
</div>