<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Civil Rights Law</h1>
			
			<p>Our civil rights lawyers have significant state and federal experience is assisting our clients in dealing with civil rights. We represent both plaintiffs and defendants, including individuals, businesses and local governments.</p>

			<p>Pentiuk, Couvreur &amp; Kobiljak's expertise in this area extends to the following:</p>
			
			<ul>
				<li>Claims and investigations by the Equal Employment Opportunity Commission, the Department of Justice and the Michigan Civil Rights Commission, HUD and both the Michigan and U.S. Department of Labor.</li>
				<li>Claims of discrimination based on protected classes such as age, sex and gender, race, color, marital status, height, weight, religion and national origin. We have special expertise in the area of affirmative action in the employment and education areas.</li>
				<li>Draft, litigate and defend Employment Policies based on the Americans with Disabilities Act (ADA), the Family Medical Leave Act (FMLA) and their state statutory counterparts.</li>
				<li>Litigate Title VII and constitutional claims.</li>
				<li>Actions brought under the Michigan Elliott - Larson Civil Rights Act, the Federal Fair Housing Act Amendments, and similar civil rights statutes including state and federal whistleblowers statutes.</li>
				<li>Privacy rights claims, such as those brought under HIPPA and the federal student privacy rights laws.
				<li>Parental rights such as home schooling of children.</li>
				<li>Mr. Morgan of our firm is a nationally recognized expert in this field. A former attorney - advisor to the U.S. Commission on Civil Rights, he has written and lectured widely in this area. He and Mr. Pentiuk have both litigated cases that reached the U.S. Supreme Court.</li>
			</ul>
		</div>
	</div>
</div>