<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Commercial Law</h1>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak's commercial law attorneys provide legal representation to merchants and others in commerce as these clients deal with the intricacies of various state and federal laws relating to sales of goods and services.</p>

			<p>Our practice includes matters such as:</p>

				<li>Drafting contracts and documents in compliance with the Uniform Commercial Code and other relevant laws for the sale or purchase of goods or services.</li>
			  	<li>Documenting and recording liens and interests to protect merchants and suppliers as to payment rights.</li>
			  	<li>Enforcement of liens and interests of merchants and suppliers, including foreclosure proceedings.</li>
			  	<li><%= link_to('Lawsuits', '/practice-areas/_civil-litigation-trials-and-appeals') %> for breach of contract.</li>
			  	<li>Alternative dispute resolution of claims, including arbitration and mediation.</li>
			</ul>
		</div>
	</div>
</div>