<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Divorce and Domestic Relations Law</h1>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak handles divorce cases and related domestic relations matters, including:</p>
			
			<ul>
		   		<li>Divorces, including pre-filing planning and counseling.</li>
		   		<li>Arbitrations and meditations of divorce cases, including property disputes.</li>
		   		<li>Divorce trials, Friend of the Court hearings, and appeals.</li>
		   		<li>Child Support issues, such as support order modifications and collections.</li>
		   		<li>Alimony issues, including collections.</li>
		   		<li>Child Custody disputes.</li>
		   		<li>Domestic Violence Orders, Personal Protection Orders, and contested hearings.</li>
		   		<li>Child Visitation issues, including modifications.</li>
		   		<li>Property Settlements &amp; Orders, such as asset and business valuations.</li>
		   		<li>Post-Judgment matters, including enforcement of pension qualified domestic relations orders (QDROs) and collections.</li>
		   		<li>Corrections and adjustments of child support amounts, including Friend of the Court garnishment disputes.</li>
			</ul>
		</div>
	</div>
</div>