<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Family Law</h1>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak, P.C. offers legal representation for all aspects of family law. Our services for divorce and domestic relations are explained elsewhere in this section. Beyond those services, we also provide our clients with expertise in:</p>
			
			<ul>
				<li>Prenuptial and Antenuptial Agreements for individuals contemplating marriage, or for married individuals, seeking to protect their assets for preservation and orderly transfers upon death or possible dissolution of their marriage.</li>
		   		<li>Adoption of minor children.</li>
		   		<li>Correction or modification of birth certificates, to reflect parentage.</li>
		   		<li>Petitions for change of name.</li>
		   		<li>Juvenile Court matters, such as delinquency problems or termination of parental rights.</li>
		   		<li>Emancipation of minors.</li>
		   		<li>Family business succession planning, to ensure an orderly transfer of businesses from parents to one or more of their children.</li>
		   		<li>Family Independence Agency and law enforcement investigations of parental neglect or abuse.</li>
		   		<li>Home schooling rights of parents.</li>
		   		<li>Representation in student disciplinary matters, educational assessments and placement issues.</li>
		   		<li>Individualized Education Plans (IEP) for students with disabilities.</li>
		   		<li>Family asset preservation, through legal means to protect property and funds from creditors, such as Family Limited Liability Companies.</li>
			</ul>			
		</div>
	</div>
</div>