<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Probate Law</h1>
			
			<p>The probate lawyers of Pentiuk, Couvreur &amp; Kobiljak, P.C. are experienced in expeditiously handling estates that require Probate Court involvement and Trust Administration. Recognizing that there are often difficult family issues involved, we are sensitive to the emotional and financial needs of the widows, children and heirs. Thus, we proceed with probate administration as quickly as permissible under the Michigan Revised Probate Code.</p>

			<p>Our probate attorneys assist clients in:</p>
			
			<ul>
		   		<li>Settling estates and trusts in Michigan.</li>
		   		<li>Primary and ancillary probate of wills.</li>
		   		<li>Publication of legal notices.</li>
		   		<li>Analysis of claims and resolution of disputes with estate creditors.</li>
		   		<li>Inventory valuation.</li>
		   		<li>Marshaling of estate assets.</li>
		   		<li>Assist in preparing estate and income tax returns for decedents and their estates.</li>
		   		<li>Estate and fiduciary representation in will contests.</li>
		   		<li>Construction, accounting and other estate and trust proceedings.</li>
		   		<li>Preparing accountings for estates and trusts.</li>
		   		<li>Distribution of assets to beneficiaries.</li>
		   		<li>Administrative assistance to the estate or trust fiduciary.</li>
			</ul>
		</div>
	</div>
</div>