<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Wills, Trusts &amp; Estate Planning Law</h1>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak, P.C. provides personalized and professional service for individuals and families seeking to avoid probate, minimize estate and inheritance taxes, and to efficiently transfer wealth upon death. We assist our clients in a wide array of estate planning and drafting areas, including:</p>
			
			<ul>
				<li>Preparing wills and trusts - in order to assure that your property is passed to your loved ones in accordance with your wishes, and in ways to minimize or eliminate probate costs and estate taxes. Whether it is a Revocable Living Trust, a Pour-Over Will, an Irrevocable Life Insurance Trust, or a Charitable Remainder Trust, our attorneys are able to guide you through the intricate weave of legal, tax and personal issues to come up with the right plan for your needs.</li>
				<li>Counseling and planning family business succession - to pass the family business down to your child or children with minimal disruption and controversy.</li>
				<li>Elder planning - for yourself or your parents, when the infirmities of age begin to affect one's independence. The goal is to prepare for the future, so that sufficient assets are available to meet all the person's needs and to take full advantage of government resources such as Medicare and Social Security.</li>
				<li>Disability planning - to provide for contingencies in the event that you are unable to make medical or financial decisions for yourself, avoiding the involvement of the court system in your personal affairs. Powers of Attorney, Patient Advocate Designation documents and similar instruments are available.</li>
				<li>Asset protection - to ensure that your hard work benefits your loved ones, through careful planning and drafting of instruments to keep your wealth out of the reach of creditors and to minimize tax ramifications.</li>
			</ul>
		</div>
	</div>
</div>