<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Michael P. Hurley</h1>
			Areas Of Practice


			General Practice 

			Email: mhurley@pck-law.com

			Phone: (734) 281-7100 ext. 107

			LAW SCHOOL

			Thomas Cooley Law School, J.D. with Distinction 1984
			COLLEGE

			Wayne State University, History 1980
			
			<p>Michael Hurley is a litigation attorney for Pentiuk, Couvreur &amp; Kobiljak, P.C. He has been practicing law in Michigan for over 20 years. He has appeared in district and circuit courts throughout the state on behalf of individuals and corporate clients. In addition to handling a wide range of civil litigation cases, he has worked extensively in criminal law.</p>

			<p>Mr. Hurley worked 10 years in Dearborn, handling public defense cases. He also served as the municipal prosecutor for the cities of Trenton and Belleville. Currently, he serves as the Assistant City Attorney in Riverview, and Prosecutor for Riverview, Royal Oak Township and was Prosecutor for Melvindale until 2008. He is responsible for the prosecution of municipal ordinance and misdemeanor cases, within these cities. Mr. Hurley also practices real estate law, criminal law, civil litigation and municipal law. In these areas, he has tried hundreds of cases throughout his career.</p>

			<p>After receiving his bachelors' degree in History from Wayne State University in 1980, Mr. Hurley went on to graduate from Thomas Cooley Law School with distinction in 1984. He is a member of the State Bar of Michigan and the United States District Court Bar Association. He resides in Grosse Ile, Michigan, and has two children.</p>

		</div>
	</div>
</div>