<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Resources</h1>

			<h2>Class Action Links</h2>
			
			<section>
				<h3>Class Action Information</h3> 
				<p>NEED SMALL INTRO... <%= link_to('Learn More', 'www.classaction.com', :target => '_blank') %></p>
			</section>
		</div>
	</div>
</div>