body {
	margin: 0;
	padding: 0;
	background: url(/assets/layout/bg.jpg) no-repeat scroll center top #f8f8f8;
	
	font: 12px/16px 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #373c3f;
	
	/*font-weight: 400;
	color: #0f0501;*/
	
	#canister {
		position: relative;
		width: 980px;
		min-height: 100%;
		margin: 0 auto;
		background: #fff;
		overflow: auto;
		
		.wrapper {
			width: 980px;
			margin: 0 auto;
			
			header {
				position: relative;
				z-index: 25;
				float: left;
				width: 980px;
				
				#logo {
					position: absolute;
					z-index: 30;
					top: 0;
					left: 20px;
					width: 305px;
					height: 123px;
					background-image: url(/assets/layout/pck-law-logo.png);
					
					a {
						position: absolute;
						z-index: 30;
						top: 0;
						left: 0;
						width: 305px;
						height: 123px;
						display: block;
					}
				}
				
				.phone {
					float: right;
					width: 205px;
					padding: 20px 20px 0 0;
					text-align: right;
					
					a {
						font-size: 12px;
						color: #888;
						text-decoration: none;
					}
					
					number {
						margin: 0 0 0 5px;
						font-size: 16px;
						color: #1b1a51;
					}
				}
				
				nav {
					position: relative;
					z-index: 20;
					float: left;
					width: 980px;
					height: 40px;
					margin: 20px 0 0 0;
					background: #373b3e;
					
					ul {
						float: right;
						padding: 0 20px 0 0;
						margin: 0;
						list-style: none;
						white-space: nowrap;
						
						li.narrow {
							width: 76px;
							background-image: none;
						}
						
						li.wide { width: 132px;}
						li.case { width: 114px;}
						li.last { width: 110px;}
						
						li:hover ul { display: block;}
						
						li {
							position: relative;
							float: left;
							width: 102px;
							height: 40px;
							text-align: center;
							background-image: url(/assets/layout/nav-line.png);
							background-repeat:repeat-y;
							background-position: center left;
							
							a.last { text-align: right;}
							
							a {
								float: left;
								width: 100%;
								height: 40px;							
								font-size: 12px;
								line-height: 38px;
								font-weight: 400;
								text-align: center;
								text-transform: uppercase;
								text-decoration: none;
								color: #fff;
								background: none repeat scroll 0 0;	
							}
							
							a:hover { 
								color: #c3dff1;
							}
							
							ul.last { left: -90px;}			
							ul.wide { width: 290px;}
							ul {
								display: none;
								position: absolute;
								top: 40px;
								left: 0;
								width: 220px;
								padding: 0 0 6px 0;
								background: none repeat scroll 0 0 #373b3e;	
								
								li.first { border-top: none;}
								li.highlight { background-color: #505558;}
								li:hover {background: #3c4144;}
								
								li {
									float: left;
									width: 100%;
									height: 25px;
									margin: 0;
									padding: 0;
									border-top: solid 1px #303538;
									
									a {
										float: left;
										width: 100%;
										padding: 5px 0 0 15px;
										margin: 0;
										font-size: 10px;
										line-height: 12px;
										font-weight: 400;
										text-align: left;
										text-transform: uppercase;
										clear: both;
									}
									
									a:hover {color: #c3dff1;}
								}
							}
						}
					}
				}
			}
		
			#content {
				overflow: hidden;
				float: left;
				width: 980px;
				margin: 0 auto;
				background: #fff;
			}
			
		}
	}
	footer.fatty {
		position: relative;
		z-index: 30;
		float: left;
		width: 100%;
		min-height: 420px;
		background: #3c4144;
		
		.wrapper {
			width: 940px;
			margin: 0 auto;
			
			.sitemap {
				position: relative;
				float: left;
				width: 620px;
				max-height: 400px;				
				padding: 20px 0 0 0;
				text-align: left;
				
				nav {
					float: left;
					width: 100%;
					margin: 0 0 30px 0;
				
					ul.wide { 
						width: 237px;
						padding: 0 35px 0 45px;
					}
					
					ul.last { width: 140px;}
				
					ul {
						float: left;
						width: 160px;
						padding: 0;
						margin: 0;
						list-style: none;
					
						li {
							float: left;
							width: 100%;
							padding: 4px 0;
							
							a.main {
								float: left;
								width: 100%;
								padding: 0;
								font-size: 12px;
								text-transform: uppercase;
								text-decoration: none;
								color: #c3dff1;
							}
						
							a {
								float: left;
								width: 100%;
								padding: 0;
								font-size: 10px;
								line-height: 15px;
								font-weight: 400;
								text-decoration: none;
								color: #fff;
							}
							
							a:hover {
								color: #bbb;
								text-decoration: underline;
							}
						}
					}
				}
				
				#copyright {
					float: left;
					width: 620px;
					text-align: left;
					
					span {
							font-size: 10px;
							line-height: 12px;
							font-weight: 400;
							color: #bbb;
							
						a { color: #c3dff1;}						
						a:hover { color: #bbb;}
					}
				}	
			}
			
			.contact {
				position: relative;
				float: left;
				width: 320px;
				height: 400px;
				padding: 20px 0 0 0;
				text-align: left;
				background-image: url(/assets/layout/footer-line.png);
				background-repeat:repeat-y;
				
				.location {
					float: left;
					width: 300px;
					padding: 0 0 0 20px;
					background-image: url(/assets/icons/courthouse.png);
					background-repeat: no-repeat;
					background-position: bottom right;
					
					text-align: left;
					
					span {
						font-size: 16px;
						font-weight: 600;
						color: #c3dff1;
					}
					
					address {
						margin: 5px 0 10px 0;
						font-size: 13px;
						line-height: 16px;
						font-weight: 400;
						font-style: normal;
						color: #fff;
					}
					
					number {
						font-size: 13px;
						line-height: 20px;
						font-weight: 400;
						font-style: normal;
						color: #fff;
					}
				}
				
				.hours {
					float: left;
					width: 300px;
					padding: 20px 0 0 20px;
					
					span {
						font-size: 14px;
						line-height: 20px;
						font-weight: 600;
						color: #c3dff1;
					}
					
					row {
						float: left;
						width: 300px;
						
						span {
							font-size: 13px;
							line-height: 20px;
							font-weight: 400;
							font-style: normal;
							color: #fff;
						}
						
						.day {
							float: left;
							width: 150px;
						}
						
						.time {
							float: right;
							width: 150px;
						}
					}
				}
				
				img {
					float: left;
					padding: 26px 0 0 20px;
				}
			}
		}
	}
	
	footer.sticky {
		position: fixed;
		z-index: 40;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 41px;
		background-image: url(/assets/layout/footer-sticky-bg.png);

		.wrapper {
			overflow: hidden;
			width: 980px;
			margin: 0 auto;
			padding: 3px 0 0 0;
			
			ul {
				float: left;
				padding: 0 0 0 20px;			
				list-style: none;
				white-space: nowrap;
				
				li.last { border: none;}

				li {
					position: relative;
					float: left;
					text-align: left;
					border-right: solid 1px #888;
			
					
					span {
						margin: 0 5px 0 5px;
						font-size: 14px;
						line-height: 16px;
						font-weight: normal;
						text-decoration: none;
						color: #888;
					}
					
					a {
						padding: 0 8px 0 8px;
						float: left;
						font-size: 12px;
						line-height: 16px;
						font-weight: 700;
						text-transform:uppercase;
						text-decoration: none;
						color: #c3dff1;
					}
					
					a:hover {
						color: #bbb;
					}
				}
			}

			#j {
				position: relative; 
				float: left;
				width: 640px;
				height: 39px;
				
				ul { padding: 0 0 0 11px;}
				li { border-right: none;}
			}
			
			#socialmedia {
				position: relative;
				float: left;
				width: 300px;
				height: 39px;
				background-image: url(/assets/layout/footer-line.png);
				background-repeat:repeat-y;
				
				a {
					padding: 0 10px 0 10px;
					font-size: 10px;
				}
			}
		}
	}
}