<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Ann Shaw</h1>
			
			<ul>
				<li class="headline">Areas Of Practice</li>
				<li>Landlord Tenant Clients</li>
			</ul>
			
			<span class="email">Email: ashaw@pck-law.com</span>

			<number>Phone: (734) 281-7100 ext. 115</number>


			COLLEGE

			Wayne County Community College &amp; Kaplan University, A.A. Paralegal Degree
			
			<p>Ann Shaw has been with Pentiuk, Couvreur &amp; Kobiljak since July, 2000. She attended college at Wayne County Community College and Kaplan University where she pursued a degree in the field of Paralegal studies. Ms. Shaw works closely with our Landlord tenant clients to provide a high level of service to their needs.</p>
		</div>
	</div>
</div>