<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Brenda Presson</h1>
			
			<p>Brenda Presson has been with Pentiuk, Couvreur &amp; Kobiljak since June of 2007. Brenda brings with her 20 years of legal assistant experience. Brenda is one of two legal assistants to Creighton D. Gallup. Ms. Presson has 16 years of experience in the family law field and is qualified to handle pension orders (QDRO and EDROs). Brenda has knowledge of collection and probate law. With the high demands and emotional stress of any divorce or family law matter, Brenda is able to remain calm and bring a sense of comfort to our clients. Brenda is able to handle our clients' domestic matters from beginning to end.</p>
		</div>
	</div>
</div>