<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Brittny Harris - Attorney/ Marketing Director</h1>
			
			<ul>
				<li class="headline">Areas Of Practice</li>
			   	<li>General Practice</li>
			   	<li>Civil litigation in Landlord &amp; Tenant Law</li>
			   	<li>Community Housing Associations</li>
			   	<li>Condominium Law and Collection Law</li>			
			</ul>


			Email: bharris@pck-law.com

			Phone: (734) 281-7100 ext. ___

			LAW SCHOOL

			Regent University School of Law Class of 2011
			GRADUATE SCHOOL

			Robertson School of Government Class of 2011, M.A. Government,Concentration in International Relations

			COLLEGE

			Indiana Wesleyan University, B.S. Pre-Law/Political Science, B.S. Criminal Justice, A.S. in Psychology

		</div>
	</div>
</div>