<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Cheri Oates - Legal Assistant, Primary Mr. Kobiljak</h1>
			
			<ul>
				<li class="headline">Areas Of Practice</li>
				<li>Collection Procedures</li>
				<li>Bankruptcy Documentation</li>			
			</ul>
			
			<span class="email">Email: aknoch@pck-law.com</span>

			<number>Phone: (734) 281-7100 ext. 122</number>

				COLLEGE

				University of Michigan-Dearborn College of Arts, Sciences &amp; Letters, B.A, Psychology | Sociology Minor
				LEGAL PROFESSIONAL

				30+ Years of Work Experience
			
			<p>Cheri Oates has worked at PC&amp;K, as one of Kurt Kobiljak's legal assistants, since 2000. Prior to joining the firm, she worked as an Administrative Assistant for a nonprofit organization in the Downriver area.</p>

			<p>Cheri has nine years of experience in collection procedures, as well as filing bankruptcy documentation in and out of the State of Michigan. She prepares documentation to be filed with the District Courts, as well as Circuit Courts and Bankruptcy Courts. Ms. Oates acts as a liaison between PC&amp;K counsel and clients in addition to her other duties.</p>

		</div>
	</div>
</div>