<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Karen Zurbo-Miller - Legal Assistant</h1>
			
			<ul>
				<li class="headline">Areas Of Practice</li>
				<li>Civil Litigation</li>
				<li>Labor &amp; Employment Matters</li>
				<li>Litigation Aspects in all Court Levels</li>
				 
			<span class="email">Email: kmiller@pck-law.com</span>

			<number>Phone: (734) 281-7100 ext. 120</number>

			COLLEGE

			Associates Degree in the paralegal field and graduated with honors LEGAL PROFESSIONAL

			30+ Years of  Legal Assistant Work Experience
			
			<p>Karen Zurbo-Miller has 30 years of experience with the majority of concentration in civil litigation and labor/employment matters. Her experience consists of extensive involvement in all aspects of litigation, in all courts at the State and Federal levels, as well as preparing for and assisting at trials and arbitrations. Mrs. Miller also has an Associates Degree in the paralegal field and graduated with honors.</p>

			<p>Mrs. Miller's extensive experience and education allows her to work closely with attorneys as well as independently, to ensure that your case receives the attention to detail it deserves.</p>
		</div>
	</div>
</div>