<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Lori Syc - Legal Assistant, Primary Mr. Couvreur</h1>
			
			<ul>
				<li class="headline">Areas Of Practice</li>
				<li>Estate Planning</li>
				<li>Probate Matters</li>
				<li>Municipalities</li>
				<li>Collection</li>
				<li>Small Business, Corporation Setup</li>
				<li>Cooperative housing</li>
			</ul>
			
			<span class="email">Email: lsyc@pck-law.com</span>

			<number>Phone: (734) 281-7100 ext. 120</number>

			COLLEGE


			LEGAL PROFESSIONAL

			30+ Years of  Legal Assistant Work Experience
			
			<p>Lori Syc has been with Pentiuk, Couvreur &amp; Kobiljak since March, 2003. She is the legal assistant to Joseph Couvreur. Prior to joining the firm, Lori worked for a large, Detroit law firm in their litigation department. She has been working in the legal field for nearly thirty years and has knowledge with estate planning, probate matters, municipalities, collection, small business/corporation setup and cooperative housing as well. Lori recently moved to the City of Gibraltar, but still calls Wyandotte home. She has two children both in college and in her spare time enjoys being a mother to them, cooking, walking, gardening and living life to its fullest.</p>
		</div>
	</div>
</div>