<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Patti Drobot - Legal Assistant, Primary Mr. Kobiljak</h1>
			
			<ul>
				<li class="headline">Areas Of Practice</li>
				<li>Civil Litigation</li>
				<li>Condominium Association Management</li>
				<li>Collections</li>
				<li>General business &amp; Employment</li>
			</ul>
			
			<span class="email">Email: pdrobot@pck-law.com</span>

			<number>Phone: (734) 281-7100</number>

			LEGAL PROFESSIONAL

			20+ Years in Business Experience & 10+ Years of Law Experience
			
			<p>Patti joined Pentiuk, Couvreur & Kobiljak in March of 2011 as a legal assistant to Mr. Kobiljak. Along with a strong background in civil litigation, Patti has considerable experience with condominium association management, collections, and general business and employment matters. With 20 years in business and 10 years in law, Patti offers our clients a unique combination of experience and knowledge.</p>

			<p>Patti moved to Southeast Michigan in 2007 and spends her free time enjoying her husband, grown children, her cat and the Pittsburgh Steelers.</p>
		</div>
	</div>
</div>