<div class="site-contents" id="attorneys">
	<div class="headline">
		<h2>Attorneys</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Scott Leake - Office Manager</h1>
			
			Email: sleake@pck-law.com

			Phone: (734) 281-7100 ext. 117

			COLLEGE

			University of Central Florida, M.F.A Performance
			Huntingdon College, B.A. Theatre & History | Sociology Minor
			
			<p>Scott Leake is the office manager at Pentiuk, Couvreur & Kobiljak and has been since January of 2008. Scott holds a B.A. in Theatre and History with a minor in Sociology from Huntingdon College and a M.F.A. in Performance from the University of Central Florida. He is married and has 2 sons, 2 dogs, and 3 horses. Scott spends a majority of his extra time volunteering for various organizations.</p>
		</div>
	</div>
</div>