<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Bankruptcy Law</h1>
			
			<p>At Pentiuk, Couvreur &amp; Kobiljak, P.C., our bankruptcy lawyers are skilled at representing our clients through the maze of the complexities of the Bankruptcy Code. When necessary, we initiate adversary proceedings to challenge a debtor's discharge or the dischargeability of our client's claim.</p>

			<p>We vigorously pursue reaffirmation agreements to keep the debt intact for post-bankruptcy collection. When necessary, we move the Bankruptcy Court to lift the automatic stay in order to continue collection of debts. If further debt accrues during the bankruptcy proceeding, we will file motions for payment of administrative claims.</p>

			<p>Our bankruptcy clients include banks, credit unions, local and out-of-state businesses, cooperatives, condominium associations and local governments. Our expertise extends to chapter 7, 11 and 13 cases.</p>

		</div>
	</div>
</div>