<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Collections Law</h1>
			
			<p>The collection lawyers of Pentiuk, Couvreur &amp; Kobiljak, P.C. are well known for their aggressive and relentless pursuit of debtors who owe money to our clients. While acting within the confines of the Federal Fair Debt Collection Practices Act, our collection attorneys, with the assistance of trained support staff and computer technology, zealously and systematically take the collection case through the litigation stage to final payment. We also specialize in claim and delivery actions, also known as replevin actions, helping our clients reclaim goods which have been wrongfully taken, detained or distrained.</p>

			<p>Using powerful collection remedies, we move expeditiously to identify and seize assets and income from debtors, including state tax refund checks, wage garnishments, the use of court-appointed receivers, creditor examinations, bench warrants for the arrest of debtors who defy court orders, and orders to seize assets.</p>

			<p>We are known as the attorneys to call when others have failed to collect money judgments. Our collection attorneys will renew judgments to continue pursuit of debtors when others have given up. If the debtor moves out of Michigan, we track them down and locate attorneys in other states to assist in the collection of the debt.</p>
		</div>
	</div>
</div>