<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Condominium Law</h1>
			
			<p>The condominium attorneys of Pentiuk, Couvreur &amp; Kobiljak provide assistance to the boards of condo associations in the following areas:</p>
			<ul>
				<li>Enforcement of the association rights to collect assessments from condominium co-owners, including foreclosure actions.</li>
				<li>Interpretation and amendment of the master deed and condominium bylaws, and the enforcement of rules against offending co-owners.</li>
				<li>Selection, hiring and terminating management companies.</li>
				<li>Litigation against developers, including building defects, control disputes and breach of warranties. Our litigation expertise is described in the <%= link_to('Civil Lawsuits Trials and Appeals practice area.','/practice-areas/_civil-litigation-trials-and-appeals') %></li>
				<li>Tax appeals, including negotiations with the local assessor, appearing before the board of review, and litigating cases in the Michigan Tax Tribunal.</li>
				<li>Drafting and enforcing contracts with vendors and suppliers, including litigating breach of contract and breach of warranty actions, and construction lien issues.</li>
			</ul>
			
			<p>Our Law Firm represents condominium associations throughout southeast Michigan and in the northwest area of the Lower Peninsula.</p>
		</div>
	</div>
</div>