<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Consumer Law</h1>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak, P.C. helps clients with consumer related matters, including:

			<ul>
		  		<li>Auto Lemon Law and other defective products.</li>
		  		<li>Defective Homes, such as leaking roofs, leaking basements, and mold problems.</li>
		  		<li>Fraud schemes and scams on consumers, including misleading claims of manufacturers or merchants.</li>
		  		<li>Misrepresentations of investment advisors or corporations as to financial investments.</li>
		  		<li>Illegal pyramid investment schemes.</li>
		  		<li>Overcharging or illegal charges by retailers.</li>
		  		<li>False advertising, including A bait and switch schemes.</li>
			
			<p>Often, these types of cases may be brought under special state or federal laws that provide for the award of attorney fees from the defendant merchant or retailer. This is a significant advantage to the client as it allows for such cases to be brought under a contingency fee or similar compensation arrangement.</p>

			<p>Sometimes, the fraud or defect is widespread, whereby it is appropriate to undertake a class action lawsuit. This type of case is described in <%= link_to('Class Action practice area.','/practice-areas/class-action-law') %></p>

			<p>Our goal in representing consumers is to achieve justice for the clients, and to force the defendant to stop the fraudulent practice that harms all of us.</p>

		</div>
	</div>
</div>