<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Corporate Partnership &amp; Limited Liability Company Law</h1>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak's corporate lawyers assist clients with new business ventures and existing ones by guiding them in selecting and maintaining the proper business form to take full advantage of tax benefits and limited liability. We have experience in the formation and on-going affairs of the various types of corporations, whether it be a subchapter S, a professional service corporation, or a C corporation, Limited Liability Company, a partnership or a sole proprietorship.</p>
			
			<p>Our corporate attorneys counsel clients in making the proper choices, filing the correct articles, applications or other papers, and in meeting the strict requirements of keeping the chosen entity intact to preserve the tax advantages and protect against efforts to pierce the entity's veil and reach the personal assets of the owners.</p>
			
			<p>On an ongoing basis, we confer with our business clients to provide guidance on emerging challenges, such as:</p>
			
			<ul>
				<li>Internal disputes among the owners.</li>
				<li>Drafting bylaws, minutes and agreements among the owners.</li>
				<li>Negotiating and preparing buy-sell agreements, key officer agreements and compensation packages.</li>
				<li>Negotiating and preparing stock purchase agreements.</li>
			</ul>
			
			<p>As the business matures, there may come a time when it is necessary to undertake change to its structure or ownership. Pentiuk, Couvreur &amp; Kobiljak's corporate lawyers are there to help in such matters as:</p>
			
			<ul>
				<li>Transferring stock or assets to new owners, including providing guidance and drafting the documents to facilitate handing the business down to younger family members.</li>
				<li>Dissolving the business.</li>
				<li>Valuation of the business.</li>
				<li><%= link_to('Litigation', '/practice-areas/_civil-litigation-trials-and-appeals') %> among the owners.</li>
				<li>Expanding the old business into new entities, formation of holding companies, or spinning off divisions into subsidiary entities.</li>
			</ul>
			
			<p>Whatever the challenge may be, Pentiuk, Couvreur &amp; Kobiljak will be at our client's side to provide personal attention and professional services.</p>
		</div>
	</div>
</div>