<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Creditor Rights Law</h1>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak, P.C. has an extensive background in representing the interests of creditors. In this capacity, we represent banks, credit unions, businesses and others that face the challenge of collecting money from elusive debtors.</p>

			<p>Elsewhere in this Section we describe our <%= link_to('Collection Law practice area.', '/practice-areas/collection-law') %> Beyond those services, we assist our creditor clients in the pursuit of the debt in <%= link_to('bankruptcy proceedings,', '/practice-areas/bankruptcy-law') %> proper documentation of loans, enforcement of liens, foreclosures and the use of self help remedies.</p>

			<p>Our attorneys are known for vigorous representation of our creditor clients, and are widely recognized as the lawyers to turn to when others have failed. When appropriate, we team up with attorneys from other states who also excel in representing creditors, and have standing relationships with knowledgeable and aggressive court officers and investigators. Effective use of computer resources, such as Internet asset and locator programs, also aids us in pursuit of our clients' rights.</p>
		</div>
	</div>
</div>