<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Criminal Law</h1>
			
			<p>The criminal defense attorneys at Pentiuk, Couvreur &amp; Kobiljak, P.C. are experienced in both the trial and appellate courts of Michigan, and are prepared to represent clients charged with crimes under Michigan or federal law. While no means exhaustive, the following are common types of criminal cases we can assist our clients with:</p>
			
			<ul>
		   		<li>Drunk driving offenses.</li>
		   		<li>Serious traffic offenses.</li>
		   		<li>Reckless driving.</li>
		   		<li>Driving while license suspended.</li>
		   		<li>All Misdemeanor cases.</li>
		   		<li>Assault &amp; battery / Domestic Violence.</li>
		   		<li>Larceny and embezzlement.</li>
		   		<li>Felonies (non-capital offenses).</li>
		   		<li>Drug charges.</li>
		   		<li>Parental neglect.</li>
		   		<li>White collar crimes.</li>
			</ul>
			
			<p>Mr. Hurley, of our firm, served as house defense counsel in the Dearborn courts for many years. Similarly, other attorneys at Pentiuk, Couvreur &amp; Kobiljak, as well as Mr. Hurley have served as prosecutor for several municipalities and are experts in handling criminal cases. Mr. Pentiuk served as a Research Attorney for the Michigan Court of Appeals where he gained the appellate judicial perspective of criminal law, and he also served as assigned appellate counsel for dozens of criminal appeals.</p>

			<p>Beyond representing clients in trials and appeals of criminal cases, our criminal defense attorneys work for clients before driver license appeal boards, to mitigate against adverse drivers license actions by the Secretary of State. We handle driver license revocation hearings and circuit court restoration hearings for those who have had drinking related offenses, too many points on their driving records, or similar problems.<p>
		</div>
	</div>
</div>