<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Equine Law</h1>
			
			<p>At Pentiuk, Couvreur &amp; Kobiljak, P.C., we realize the need for specialized lawyers in the equine industry. The broad and perpetually changing needs of the horse industry have set the standard for sound legal advice apart from any other industry. We offer expert attorney's who understand the numerous elements within the equine law field. Such as, that a straightforward lease agreement through the buying and selling of commercial equestrian facilities requires professional input from an attorney- with the background and familiarity of the needs and concerns of both the owner, and the horse.</p>

			<p>We have the necessary understanding of equine matters, and strive to provide our clients with indispensable and efficient services by lawyers who understand the ever increasing needs of such a special brand of client.</p>

			<p>We are happy to provide advice on equestrian matters to service the special requirements of our Clients including, but not limited to:</p>
			<ul>
		   		<li>Equestrian Facility Acquisitions and Sales</li>
		   		<li>Business Planning and Advice for Profit and Non-Profit Facilities</li>
		   		<li>Personal Injury/Insurance Disputes/Claims/Litigation</li>
		   		<li>Estate Planning, Probate and Taxation</li>
		   		<li>State and Local Tax Appeals before the Tribunal</li>
		   		<li>Personal Liability Issues/Criminal Sanctions</li>
			</ul>
			
			<p>We aim to provide a service for amateur and expert equestrians alike including; horse students, professional advisers, trainers, owners, and business clients within the horse industry who require the need for the exceptional advice which can only be obtained from an attorney who knows and appreciates the equine community.</p>			
		</div>
	</div>
</div>