<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Landlord Tenant Law</h1>
			
			<p>The landlord - tenant lawyers of Pentiuk, Couvreur &amp; Kobiljak are knowledgeable experts in all aspects of landlord - tenant law. Our extensive practice in this area takes us to most of the district courts within metropolitan Detroit and southeast Michigan region, including Detroit's 36th District Court.</p>

			<p>Among the common matters we handle are:</p>
			
			<ul>
				<li>Cases involving the Michigan Landlord Tenant Relations Act.</li>
				<li>The Michigan Security Deposit Act.</li>
				<li>The Michigan Summary Proceeding Act, including nonpayment, health hazard, termination of tenancy and cooperative housing rule violation cases.</li>
		   		<li>Constructive eviction cases.
		   		<li>Claims under the Federal Fair Housing Act Amendments.
		   		<li>American with Disability Act (ADA) issues, including modifications to dwellings.
		   		<li>Drafting of leases and occupancy agreements.</li>
			</ul>			
		</div>
	</div>
</div>