<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Local Government and Municipal Law</h1>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak, P.C. has extensive experience in municipal law, having represented local governments for decades. We serve as City Attorney for two Michigan municipalities. In addition to being the chief legal officer for cities, we are often engaged by local governments to serve as special counsel, in matters ranging from defending complex class action lawsuits to providing legal opinions in complex municipal law areas.</p>

			<p>Beyond representing cities, counties and townships, we serve as counsel to Downtown Development Authorities, Economic Development Corporations, Brownfield Authorities, Housing Commissions, Planning Commissions, Public Safety Commissions, Civil Service Commissions, Zoning Boards of Appeals, and Building Authorities. We also represent interlocal governmental agencies formed under Michigan law.</p>

			<p>Mr. Pentiuk, who heads the firm's municipal and local government law department, is a recognized leader in the field. He serves as Chairman of the Litigation Section of the International Municipal Legal Officers Association, and holds memberships in the Municipal Attorneys of Michigan Association and the Public Corporation Law Section of the State Bar of Michigan, and its equivalent in the American Bar Association.</p>

			<p>Among the matters we routinely handle for our local government and municipal clients are:</p>
			
			<ul>
				<li>Brownfield Redevelopment</li>
			   	<li>Tax Appeals</li>
			   	<li>Economic Development</li>
			   	<li>Zoning Cases</li>
			   	<li>Nuisance Abatements</li>
			   	<li>Freedom of Information Act</li>
			   	<li>Condemnation Matters</li>
			   	<li>Open Meetings Act</li>
			   	<li>Prosecutions</li>
			   	<li>Land Use Cases</li>
			   	<li>Ordinance Drafting</li>
			   	<li><%= link_to('Public Employment Issues', '/practice-areas/employment-and-labor-law') %></li>
			   	<li>Election Law Issues</li>
			   	<li>Charter Revisions and Amendments</li>
			   	<li><%= link_to('Bankruptcy Claims', '/practice-areas/brankruptcy-law') %> </li>
			   	<li>Jeopardy Tax Assessments</li>
			   	<li>Pension Matters</li>
			   	<li>Municipal Landfill Matters</li>
			   	<li>Municipal Golf Course Matters</li>
			   	<li>Internal Investigations</li>
			   	<li>Telecommunications</li>
			   	<li>Public Utility Uses</li>
			   	<li>Rights of Way &amp; Easements</li>
			   	<li>Clean Water Act Issues</li>
			   	<li>Headlee Tax Limitation Issues</li>
			   	<li>Human Resource Employment Policy Issues</li>
			   	<li>Personal Property Tax Collections</li>
			</ul>			
		</div>
	</div>
</div>