<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Personal Injury, Negligence &amp; Malpractice Law</h1>
			
			<p>Our attorneys are available to assist individuals and families that have been injured and deserve compensation. The types of cases in which we provide assistance for our clients include:</p>
			
			<ul>
		   		<li>Automobile accidents</li>
		   		<li>Slips &amp; falls</li>
		   		<li>Medical malpractice</li>
		   		<li>Wrongful death</li>
		   		<li>Birth trauma</li>
		   		<li>Dental malpractice</li>
		   		<li>Mold related illnesses and property damage</li>
		   		<li>Defective buildings</li>
		   		<li>Attorney malpractice</li>
		   		<li>Nursing home neglect or abuse</li>
		   		<li>Defective products</li>
		   		<li>Wrongful discharge</li>
		   		<li>All personal injury cases</li>
			</ul>
			
			<p>These cases are normally handled on a contingency basis where our fees are taken out of the recovery, so the client does not pay for our services until a money judgment or settlement is won; however, we will discuss all other types of compensation arrangements with our clients to find the one that best fits the circumstances. If a specialist is needed, we are networked with the finest experts in virtually all types of personal injury cases; in such case, our clients are not required to pay anything extra for that additional expertise.</p>
		</div>
	</div>
</div>