<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Real Estate Transactions &amp; Litigation</h1>
			
			<p>Our real estate lawyers handle a broad array of real estate transactions for developers, individuals, cooperatives and condominium associations, banks, credit unions and businesses. Among the types of transactions we handle are:</p>
			
			<ul>
				<li>Purchases and sales of real estate, including purchase agreements, listing agreements, title searches and opinions, closing statements, tax prorations, seller's affidavits and drafting of deeds, land contracts and related documents.</li>
		   		<li>Mortgages and liens.</li>
		   		<li>Leases, including commercial and residential properties.</li>
		   		<li>Master deeds for condominiums, and related bylaws.</li>
		   		<li>Easements and rights-of-way.</lo>
		   		<li>Construction projects, including preparation of architect, contractor and project manager contracts, notices and liens under the Michigan Construction Lien Act, and insurances, performance bonds and other forms of surety bonds.</li>
			</ul>
			
			<p>We also handle litigation associated with real estate. Elsewhere in this section of our website, under Civil Litigation, Trials and Appeals we describe our litigation expertise. These real estate lawsuits include:</p>
		   	
			<ul>
				<li>Mortgage foreclosures.</li>
		   		<li>Actions to quiet title.</li>
		   		<li><%= link_to('Landlord - tenant cases.','/practice-areas/landlord-tenant-law') %></li>
		   		<li>Breach of contract.</li>
		   		<li>Land contract forfeiture suits.</li>
		   		<li>Construction litigation including disputes with architects, engineers, contractors and suppliers.</li>
		   		<li>Construction lien actions.</li>
		   		<li>Slander of title lawsuits.</li>
			</ul>
		</div>
	</div>
</div>